<header>
    <div class="header-nav">
        <a href="/">BLOG</a>
        <p>Selamat Datang, <%= locals.username %>
        </p>
        <ul>
            <li><a href="/list">Artikel</a></li>
            <% if (locals.isLoggedIn) { %>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <% } %>
        </ul>
    </div>
    <p>Ken Belajar Blog</p>
</header>